In [37]:
listado =[10, 20, 30, 40, 50]
listado

[10, 20, 30, 40, 50]

In [41]:
def inverso(lista):
    atsil = list(reversed(lista))
    return atsil
inverso(listado)

[50, 40, 30, 20, 10]

In [42]:
def inversa(lista_1):
    atsil =lista_1[::-1]
    return atsil
inversa(listado)

[50, 40, 30, 20, 10]

In [43]:
def inversas(lista_2):
    atsil = list(reversed(lista_2))
    return(atsil)
inversas(listado)

[50, 40, 30, 20, 10]

In [62]:
 
def programa(num):
    lista =[]   
    for i in range(5):
        num = int(input("Introduce un numero: "))
        lista.append(num)
    return lista 
programa(num)

Introduce un numero: 1
Introduce un numero: 2
Introduce un numero: 3
Introduce un numero: 4
Introduce un numero: 5

[1, 2, 3, 4, 5]

In [82]:
frase = input( "Escriba aqui su frase : ")

def vocal(frase):
    vocales = 0
    for i in frase:
        if i == "a" or i == "e" or i == "i" or i =="o" or i =="u":
            vocales += 1
        else:
            continue
    return vocales
vocal(frase)

Escriba aqui su frase : Buenos dias por la ma√±ana

10

In [87]:
cad = input( "Escriba aqui su cadena : ")
def voc(cad):
    vocal = 0
    for i in cad:
        if i in "aeiouAEIOU":
            vocal += 1
    return vocal
voc(cad)

Escriba aqui su cadena : Buenas tardes por la tarde

9

In [ ]:
#tablas de multiplicar, haz algo tal que: pregunta al usuario que tabla quiere multiplicar 
# del 1 al 10.

In [14]:
numero = int(int(input("Introduce un numero de tabla de multiplicar: ")))


for i in range(1,11):
    
  print("%s x %s = %s" %(numero, i, numero*i))
  print(f"{numero} x {i} = {numero*i}")

Introduce un numero de tabla de multiplicar: 2
2 x 1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 2 = 4
2 x 3 = 6
2 x 3 = 6
2 x 4 = 8
2 x 4 = 8
2 x 5 = 10
2 x 5 = 10
2 x 6 = 12
2 x 6 = 12
2 x 7 = 14
2 x 7 = 14
2 x 8 = 16
2 x 8 = 16
2 x 9 = 18
2 x 9 = 18
2 x 10 = 20
2 x 10 = 20

In [20]:
def funcion_multiplicar(x, y):
   multi = x * y
   print(multi)

funcion_multiplicar(3,5)
funcion_multiplicar(7,3)

15
21

In [21]:
multi = lambda x,y: x*y
print(multi(3,5))
print(multi(7,3))

15
21

In [44]:
x = int(input("Introduce el primer numero: "))
y = int(input("Introduce el segundo numero: "))  
multiplicar = x * y
        
print(multiplicar)
x = int(input("Introduce el primer numero: "))
y = int(input("Introduce el segundo numero: "))  
multiplicar = x * y
        
print(multiplicar)

Introduce el primer numero: 8
Introduce el segundo numero: 5
40
Introduce el primer numero: 7
Introduce el segundo numero: 5
35

In [45]:
def funcion_multi(x, y):
    multis =[]
    x = int(input("Introduce un numero: ")) 
    y = int(input("Introduce otro numero: "))
    multiplico = x * y
    multis.append(multiplico)

    return multis
funcion_multi(x,y)

Introduce un numero: 5
Introduce otro numero: 8

[40]

In [6]:
S1 = "Hi!"
S2 = "Hello!"
for i in S1:
    for j in S2:
         if i == j:
            print(i)

H
!

In [20]:
string = "Level"
string

'Level'

In [3]:
palabra = input("Introduzca palabra: ")
if str(palabra) == str(palabra[::-1]):
    print("Es un palindromo")
else:
    print("No es un palindromo")

Introduzca palabra: level
Es un palindromo

**EJERCICIOS**

In [4]:
test = [25, 8, 32, 20, 1]
test

[25, 8, 32, 20, 1]

In [19]:
type(test)

list

In [20]:

test.append(20,32,25,32)
test

TypeError: list.append() takes exactly one argument (4 given)