*Creado por:*

*Isabel Maniega*

# Ejercicio 1

**1)**

**Haz un programa que calcule los múltiplos de 3**

* Para ello primero primero debe preguntarse al usuario cuántos múltiplos desea añadir. 

* Nota: Puedes usar un bucle while si lo deseas

In [1]:
num = int(input("Cuantos multiplos de tres quieres añadir? "))
for i in range(1, num+1):
        print(i * 3)

Cuantos multiplos de tres quieres añadir? 5
3
6
9
12
15

In [2]:
num = int(input("Cuantos multiplos de tres quieres añadir? "))
lista =[]
i = 1
while i < num + 1:
    print(f"el numero {i * 3} es multiplo de tres")
    lista.append(i)
    i+=1

Cuantos multiplos de tres quieres añadir? 4
el numero 3 es multiplo de tres
el numero 6 es multiplo de tres
el numero 9 es multiplo de tres
el numero 12 es multiplo de tres

**2)**

**Haz lo mismo con np.arange**

In [3]:
import numpy as np
num = int(input("Cuantos multiplos de tres quieres añadir? "))
a = np.arange(num + 1)
dale = [(i * 3) for i in a if i > 0]
dale

Cuantos multiplos de tres quieres añadir? 5

[3, 6, 9, 12, 15]

# Ejercicio 2

Dada esta lista de variable "listado" y "valores": 10, 10, 20, 20, 20, 30, 40

Se pide:

In [4]:
L = [10, 10, 20, 20, 20, 30, 40]
L

[10, 10, 20, 20, 20, 30, 40]

**1)**

Crea un DataFrame con esa información e imprímelo

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(L, columns = ["Valores"])
df

   Valores
0       10
1       10
2       20
3       20
4       20
5       30
6       40

**2)**

Usa value_counts() para determinar cuántas repeticiones hay de cada número en esa columna

In [7]:
df.value_counts()

Valores
20         3
10         2
30         1
40         1
dtype: int64

**3)**

Haz un ".shape" a esa información del value_counts()

NOTA:

Escribe: .shape justo al final

In [8]:
df.value_counts().shape

(4,)

**4)**

A esa misma instrucción con value_counts() escribe al final ".values"

Y veras la información..

pasa esa información a lista si puedes

y guarda ese listado como "repeticiones"

In [9]:
repeticionas = df.value_counts().values
repeticiones = list(repeticionas)
repeticiones

[3, 2, 1, 1]

**5)**

A esa información de value_counts() añade al final ".index"

Y pasa posteriormente a lista esa información

y guarda ese listado con el nombre: "valores"

In [10]:
valoras = df.value_counts().index
valores = list(valoras)
valores

[(20,), (10,), (30,), (40,)]

**6)**

Crea un DataFrame con 2 columnas, 

1 para "valores"

1 para "repeticiones"

llámalo: "df_value_counts" (por ejemplo)

Y observa..

In [11]:
df_value_counts = pd.DataFrame({"valores": valores, "repeticiones": repeticiones})
df_value_counts

  valores  repeticiones
0   (20,)             3
1   (10,)             2
2   (30,)             1
3   (40,)             1

**7)**

Haz lo siguiente: "df.value_counts()"

In [12]:
df.value_counts()

Valores
20         3
10         2
30         1
40         1
dtype: int64

In [13]:
df

   Valores
0       10
1       10
2       20
3       20
4       20
5       30
6       40

**8)**

Observa si hay diferencias entre: "df" y "df_value_counts"

# Ejercicio 3

**Comparación de matrices**

Haz el código que testee si esas 2 matrices son iguales

**1)**

Dadas:
    
* matriz1 = np.array([[1,2],[3,4]])

* matriz2 = np.array([[1,2],[3,8]])

PISTAS:
    
* -1- RECORRER MATRIZ1 Y MATRIZ2 CON LA PARAMETRIZACIÓN de **i y j**

COMPROBAR: **( matriz1 [ i ][ j ] == matriz2 [ i ][ j ] )** 
               

* -2- crear una variable contador (inicializada en 0)

y, cuando detecte, un número de una matriz en una posición concreta, 

y sea diferente del número que tiene LA OTRA MATRIZ..entonces..


* -3- incremento 1 unidad en dicho contador:

SI los números son DISTINTOS

--> entonces, que se incremente en 1 unidad..

de tal manera que si ese contador=0 (al final)--> son todos iguales --> matriz1 = matriz2

y si es distinto de 0 -> es que POR LO MENOS 1 vez encontró un número diferente

matriz1 != matriz2


* -4- puedes usar np.arange( ) si lo deseas para las filas y para las columnas

* -5- recuerda el ejercicio del cronómetro para tener una referencia

TypeError: cannot unpack non-iterable int object

**2)**

Dadas:
    
* matriz1 = np.array([[1,2],[3,4]])

* matriz2 = np.array([[1,2],[3,4]])

*Creado por:*

*Isabel Maniega*