In [3]:
#Factorial
num = int(input("Introduce un numero para cacular factorial: "))
def factorial_a(num):
    if num < 0:
        print("Naranjas de la china")
    elif num == 0:
        return 1
    else:
        fact = 1
        for num in range(1, num + 1):
            
            fact = fact * num
            #num = num - 1
    return fact
factorial_a(num)

Introduce un numero para cacular factorial: 5

120

**TRANSPUESTA**

In [5]:
array = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
    ]
array

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [3]:
'''result = []
for row in array:
    for column in array:
        result[row][column] = array[column][row]
return result'''

'result = []\nfor row in array:\n    for column in array:\n        result[row][column] = array[column][row]\nreturn result'

In [10]:
for i in range(len(array)):
    #print(i)
    for j in range(len(array[0])):
        print(j)
        if i ==

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4