In [1]:
pwd

'/Users/javier/DataScience'

In [46]:
s = 25
y = 10
print(s)
print(y)
print(f'el valor de s es {s} y el valor de y es {y}')
print("el valor de " +  str(s) + " y el valor de " + str(y))

25
10
el valor de s es 25 y el valor de y es 10
el valor de 25 y el valor de 10

In [29]:
notas = -3
print(notas)
print(type(notas))

-3
<class 'int'>

In [35]:
name ='Juan"El profesor"'
print(name)

Juan"El profesor"

'Juan"El profesor"'

In [34]:
name = 'Juan'
apodo = '"El profesor"'
conjunto = name + apodo
print(conjunto)
print('juan' + '"El profesor"')

Juan"El profesor"
juan"El profesor"

In [28]:
frase = "no cuentes los dias, haz que los dias cuenten"
frase_minus = frase.lower()
print(frase_minus)
frase_mayus = frase.upper()
print(frase_mayus)
frase_prime_mayus = frase.title()
print(frase_prime_mayus)

no cuentes los dias, haz que los dias cuenten
NO CUENTES LOS DIAS, HAZ QUE LOS DIAS CUENTEN
No Cuentes Los Dias, Haz Que Los Dias Cuenten

In [43]:
suma =26 + 35
multiplica = 26 * 35
division = 36 / 6
cociente_division = 36 // 6
resto_division = 36 % 6
eleva = 3**9
print(suma)
print(multiplica)
print(division)
print(cociente_division)
print(resto_division)
print(eleva)
print(round(eleva, 2))
type(eleva)

61
910
6.0
6
0
19683
19683

int

In [25]:
print(abs(-32))
muestra = (3,-6,4,-10,2.6666)
minimo = min(muestra)
maximo = max(muestra)
print(f'numero maximo {maximo} y numero minimo {minimo}')

32
numero maximo 4 y numero minimo -10

Reemplaza valores que faltan en el listado por -1, crea un dataframe con estos valores. L = (10, None, 8, 5, None, 20)

In [4]:
L = (10, None, 8, 5, None, 20)
Lista = list(L)
Lista[1]= -1
Lista[4]= -1
tup =tuple(Lista)
tup

(10, -1, 8, 5, -1, 20)

In [8]:
import pandas as pd
df = pd.DataFrame(L, columns = ["edad"])
df

   edad
0  10.0
1   NaN
2   8.0
3   5.0
4   NaN
5  20.0

DICCIONARIOS

In [1]:
diccionario = {"a":10,"b":-2,"c":35}
diccionario

{'a': 10, 'b': -2, 'c': 35}

In [3]:
#mostrar valores dando clave y tama√±o diccionario
diccionario["a"]
diccionario["b"]
diccionario["c"]
len(diccionario)

3

In [5]:
#mostrar valores de las claves

diccionario={"clave1":1,"clave2":2, "clave3":3}
diccionario.keys()

dict_keys(['clave1', 'clave2', 'clave3'])

In [6]:
#mostrar valores de los valores
#mostrar toda la informacion
diccionario.values()
diccionario.items()

dict_items([('clave1', 1), ('clave2', 2), ('clave3', 3)])

In [7]:
#modificar un valor
diccionario["clave"]=5
diccionario

{'clave1': 1, 'clave2': 2, 'clave3': 3, 'clave': 5}

In [8]:
#eliminar dato
del diccionario["clave3"]
diccionario

{'clave1': 1, 'clave2': 2, 'clave': 5}

In [9]:
len(diccionario)

3

In [10]:
#usos de tuplas,listas y diccionarios en Dataframe
import pandas as pd

In [11]:
E ={"Andres","Marcos","Ana","Maria"}
E

{'Ana', 'Andres', 'Marcos', 'Maria'}

In [12]:
N ={9,7,8,6}
N

{6, 7, 8, 9}

In [13]:
data = list(zip(E,N))
data

[('Andres', 8), ('Ana', 9), ('Marcos', 6), ('Maria', 7)]

In [14]:
df = pd.DataFrame(data, columns=["Estudiantes","Notas"])
df

  Estudiantes  Notas
0      Andres      8
1         Ana      9
2      Marcos      6
3       Maria      7

In [20]:
#diccionario = {"Estudiantes": E, "Notas":N }
#df2=pd.DataFrame(diccionario)
#df2

STRINGS

In [28]:
s1= "Hola, como vas"
s1
len(s1)

14

In [27]:
s1[0]

'h'

In [30]:
#buscar palabras que empiezan por 'j'
#startswith = False,True(Boleano)
#endswith = True, False
s1.startswith("H")
s1.endswith("s")

True

In [31]:
#Listas con falta de valores
L =[10,-20,None,80,-5,None,20]
L

[10, -20, None, 80, -5, None, 20]

In [32]:
L[-2]= -1
L

[10, -20, None, 80, -5, -1, 20]

In [33]:
L[2] = -1
L

[10, -20, -1, 80, -5, -1, 20]

In [35]:
#Bucles for muestre lista
for i in L:
    print(i)

10
-20
-1
80
-5
-1
20

In [36]:
#condicion si esto es igual a x entonces...
#if i == None:
#range (limita los valores a mostrar) range(0,7) empieza en posicion 0y
#termina en posicion 7
for i in range(0, len(L)):
    print(i)

0
1
2
3
4
5
6

In [41]:
L= [20, 30, None, 50, None, 60]
L
for i in range(0, len(L)):
    if L[i] == None:
        print(True)
    else:
        print(False)

False
False
True
False
True
False

**CONDICIONALES**

In [7]:
Listado = [5, 10, 15, 20, 25]
Listado

[5, 10, 15, 20, 25]

In [9]:
#paso a paso
contador = 0   #iniciar contador con valoe 0
for numero in Listado:
    if(numero == 5) or (numero ==25): #si numero es 5 contador suma 1 de 0 a 1
        contador +=1
print(contador) #el resultado esperado es 2
#si l numero es 25 el contador suma 1 ---> de 1 a 2
#recorre la lista y finaliza el buble

2

In [10]:
Listado = [5, 10, 15, 20, 25]
Listado

[5, 10, 15, 20, 25]

In [11]:
x=1

In [13]:
for numero in Listado:
    print("valor del numero: ", numero)
    if (numero ==15) and (x==1):    # se puede usar & == and
        print("valor del numero en If: ", numero)
        print(" valor de x en If" , x)
        print("hemos detectado un 15 en la lista y la x vale 1")

valor del numero:  5
valor del numero:  10
valor del numero:  15
valor del numero en If:  15
 valor de x en If 1
hemos detectado un 15 en la lista y la x vale 1
valor del numero:  20
valor del numero:  25

** IN/ NOT IN **

In [14]:
Listado = [5, 10, 15, 20, 25]
Listado

[5, 10, 15, 20, 25]

In [15]:
10 in Listado

True

In [17]:
10 not in Listado

False

### Entrada de texto por teclado
***String***

In [18]:
input("hola como estas??")

hola como estas??Bien

'Bien'

In [19]:
texto = input("hola,como estas??")
texto

hola,como estas??ok

'ok'

***Numero***

In [21]:
numero = int(input("Introduzca el numero: ")) #no valen decimales
numero

Introduzca el numero: 25

25

**Decimales**

In [24]:
decimal = float(input("introduzca el numero decimal: "))
decimal

introduzca el numero decimal: 2.5

2.5

In [27]:
input("hola como estas? ")

hola como estas? ok

'ok'